<a href="https://colab.research.google.com/github/RomitaChakraborty/CSC221_rchak001/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Romita Chakraborty

Assignment 5

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:# loop through items(magician) in list and print each
 print(magician)

alice
david
carolina

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
 print(f"{magician.title()}, that was a great trick!")#same thing but with string formatting
 print(f"I can't wait to see your next trick, {magician.title()}.\n")
print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
print(magician)# missing indent

IndentationError: ignored

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
 print(f"{magician.title()}, that was a great trick!")
 print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [ ]:
message = "Hello Python world!"
print(message)#indenting too much

Hello Python world!

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
 print(f"{magician.title()}, that was a great trick!")
 print(f"I can't wait to see your next trick, {magician.title()}.\n")
 print("Thank you everyone, that was a great magic show!")#incorrect indent

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

Thank you everyone, that was a great magic show!
David, that was a great trick!
I can't wait to see your next trick, David.

Thank you everyone, that was a great magic show!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians#missing colon. Colon tells python the next line is a loop
 print(magician)

SyntaxError: ignored

4-1. Pizzas: Think of at least three kinds of your favorite pizza. Store these
pizza names in a list, and then use a for loop to print the name of each
pizza.
Modify your for loop to print a sentence using the name of the pizza, instead
of printing just the name of the pizza. For each pizza, you should have one
line of output containing a simple statement like I like pepperoni pizza.
Add a line at the end of your program, outside the for loop, that states how
much you like pizza. The output should consist of three or more lines about
the kinds of pizza you like and then an additional sentence, such as I really
love pizza!

# 4-2 is the same as 4-1
4-2. Animals: Think of at least three different animals that have a common
characteristic. Store the names of these animals in a list, and then use a for
loop to print out the name of each animal.
Modify your program to print a statement about each animal, such as A dog
would make a great pet.
Add a line at the end of your program, stating what these animals have in
common. You could print a sentence, such as Any of these animals would
make a great pet!

4-11. My Pizzas, Your Pizzas: Start with your program from Exercise 4-1
(page 56). Make a copy of the list of pizzas, and call it friend_pizzas. Then, do
the following:
Add a new pizza to the original list.
Add a different pizza to the list friend_pizzas.
Prove that you have two separate lists. Print the message My favorite pizzas
are:, and then use a for loop to print the first list. Print the message My
friendâ€™s favorite pizzas are:, and then use a for loop to print the second list.
Make sure each new pizza is stored in the appropriate list.
# same as 4-11
4-12. More Loops: All versions of foods.py in this section have avoided
using for loops when printing, to save space. Choose a version of foods.py,
and write two for loops to print each list of foods.

In [ ]:
#4-1, 4-2
pizzas = ["plain","extra cheese", "buffalo chicken"]

for pizza in pizzas:
  print(pizza)

for pizza in pizzas:
  print(f"I love {pizza} pizza")

print(f"I really like pizza\n I like {pizza[0]} pizza \n I like {pizza[1]} pizza \n I like {pizza[2]} pizza \n I really love pizza!")

#4-11, 4-12
friend_pizzas = pizzas[:]
pizzas.append("chicken")
friend_pizzas.append("avacodo")
print("my favorite pizzas are")
for pizza in pizzas:
  print(pizza)

print("my firend's favorite pizzas are")
for pizza in friend_pizzas:
  print(pizza)

plain
extra cheese
buffalo chicken
I love plain pizza
I love extra cheese pizza
I love buffalo chicken pizza
I really like pizza
 I like b pizza
 I like u pizza
 I like f pizza
 I really love pizza!
my favorite pizzas are
plain
extra cheese
buffalo chicken
chicken
my firend's favorite pizzas are
plain
extra cheese
buffalo chicken
avacodo

In [ ]:
for value in range(1, 5):#print values from x to y(exclusive)
 print(value)

for value in range(1, 6):#print values from x to y(exclusive)
 print(value)

1
2
3
4
1
2
3
4
5

In [ ]:
numbers = list(range(1, 6))#making a list with range. will have 1,2,3,4,5
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
even_numbers = list(range(2, 11, 2))#make a list of even numbers (start,stop step). step is 2 so 2,4,6,8,10
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
squares = []
for value in range(1, 11):#loop from 1 to 11. 1,2,3,4,5,6,7,8,9,10 and square each value and append it to a list
 square = value ** 2
 squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(min(digits))#lowest value in list
print(max(digits))#max digits
print(sum(digits))#sum digits

0
9
45

In [ ]:
squares = [value**2 for value in range(1, 11)]#[<expression> for <item> in <iterable>]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

4-3. Counting to Twenty: Use a for loop to print the numbers from 1 to
20, inclusive.

4-4. One Million: Make a list of the numbers from one to one million, and
then use a for loop to print the numbers. (If the output is taking too long,
stop it by pressing CTRL-C or by closing the output window.)

4-5. Summing a Million: Make a list of the numbers from one to one

million, and then use min() and max() to make sure your list actually starts at
one and ends at one million. Also, use the sum() function to see how quickly
Python can add a million numbers.

4-6. Odd Numbers: Use the third argument of the range() function to make
a list of the odd numbers from 1 to 20. Use a for loop to print each number.

4-7. Threes: Make a list of the multiples of 3, from 3 to 30. Use a for loop to
print the numbers in your list.

4-8. Cubes: A number raised to the third power is called a cube. For
example, the cube of 2 is written as 2**3 in Python. Make a list of the first 10
cubes (that is, the cube of each integer from 1 through 10), and use a for
loop to print out the value of each cube.

4-9. Cube Comprehension: Use a list comprehension to generate a list of
the first 10 cubes.

4-10. Slices: Using one of the programs you wrote in this chapter, add
several lines to the end of the program that do the following:
Print the message The first three items in the list are:. Then use a slice to
print the first three items from that programâ€™s list.
Print the message Three items from the middle of the list are:. Then use a
slice to print three items from the middle of the list.
Print the message The last three items in the list are:. Then use a slice to
print the last three items in the list.

In [ ]:
#4-3
for i in range(1,21):
  print(i)

#4-4
#mills = [print(x) for x in range(1,1000001)]

#4-6
my_list = []
for i in range(1,20,2):
  my_list.append(i)
for i in my_list:
  print(i)

#4-6
threes = [print(x) for x in range(3,30) if x%3==0]

#4-8
my_list = []
for i in range(1,11):
  my_list.append(i**3)
for i in my_list:
  print(i)
#4-9
my_list = [x**3 for x in range(1,11)]
for i in my_list:
  print(i)
#4-10
print(f"The first three items are {my_list[:3]}")
print(f"The last three items are {my_list[:-3]}")
print(f"The first middle items are {my_list[2:4]}")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
1
3
5
7
9
11
13
15
17
19
3
6
9
12
15
18
21
24
27
1
8
27
64
125
216
343
512
729
1000
1
8
27
64
125
216
343
512
729
1000
The first three items are [1, 8, 27]
The last three items are [1, 8, 27, 64, 125, 216, 343]
The first middle items are [27, 64]

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])#slice from the 0-3(exclusive)
print(players[1:4])#slice from the 1-4(exclusive)
print(players[:4])#slice from the 0-4(exclusive)
print(players[2:])#slice from the 2- 5/end of list(exclusive)
print(players[-3:])#slice from the -3-/end of list(exclusive)

['charles', 'martina', 'michael']
['martina', 'michael', 'florence']
['charles', 'martina', 'michael', 'florence']
['michael', 'florence', 'eli']
['michael', 'florence', 'eli']

In [ ]:
print("Here are the first three players on my team:")
for player in players[:3]:#slice from the 0-3(exclusive) and loop through slice
 print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]#copy my_foods list
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

In [ ]:
#this make both variables point to the same list so any changes done on either variable are reflected by both
#friend_foods = my_foods

In [ ]:
dimensions = (200, 50)#tuple with two values
print(dimensions[0])
print(dimensions[1])

200
50

In [33]:
dimensions[0] = 250 #tuples are immutable

TypeError: ignored

In [ ]:
my_t = (3,)#if a tuple has only one value it needs a comma

In [ ]:
for dimension in dimensions:#loop through tuple as you would a list
 print(dimension)

200
50

In [ ]:
print("Original dimensions:")
for dimension in dimensions:
 print(dimension)
dimensions = (400, 100)#must reassign tuple values since it cannot be changed. This is a whole different tuple
print("\nModified dimensions:")
for dimension in dimensions:
 print(dimension)

Original dimensions:
200
50

Modified dimensions:
400
100

4-13. Buffet: A buffet-style restaurant offers only five basic foods. Think of
five simple foods, and store them in a tuple.
Use a for loop to print each food the restaurant offers.
Try to modify one of the items, and make sure that Python rejects the
change.
The restaurant changes its menu, replacing two of the items with different
foods. Add a line that rewrites the tuple, and then use a for loop to print
each of the items on the revised menu.

In [ ]:
#4-13
restaurant_foods = ("burger", "cake", "rice", "chicken", "salad")

for i in restaurant_foods:
  print(i)

#restaurant_foods[0]= "tomato"

restaurant_foods = ("burger", "cake", "rice", "beef", "tomato")

burger
cake
rice
chicken
salad

In [ ]:
def factorial(n):
  fact_list = [x for x in range(1,n+1)]
  product = 1
  for x in fact_list:
    product *= x
  return product
print(factorial(5))

120