<a href="https://colab.research.google.com/github/RomitaChakraborty/CSC221_rchak001/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name- Romita Chakraborty

Assignment 4

In [ ]:
# A list is a collection of items in a particular order
# In Python, square brackets ([]) indicate a list
# individual elements in the list are separated by commas

bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
# you can access any element in a list by telling Python the position, or index, of the item desired

bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

# using string methods on elements in a list

bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())

trek
Trek

In [ ]:
# Index positions start at 0, not 1
# The second item in a list has an index of 1

bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3]) # asks for bicycles at index 1 and index 3, resulting in bicyles 2 and 4 being returned

cannondale
specialized

In [ ]:
# accessing the last element in a list
# ask for the item at index -1

bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])

# -2 returns the second item from the end of the list
# the index -3 returns the third item from the end, and so forth.

specialized

In [ ]:
# Using individual values from a list to create a message (using f-string)

bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

My first bicycle was a Trek.

In [ ]:
# TRY IT YOURSELF

# 3-1. Names:

names = ['Angel', 'Molly', 'Aiyana', 'Skyler']
print(names[0])
print(names[1])
print(names[2])
print(names[3])

# 3-2. Greetings:

print(f"Happy Halloween, {names[0]}!")
print(f"Happy Halloween, {names[1]}!")
print(f"Happy Halloween, {names[2]}!")
print(f"Happy Halloween, {names[3]}!")

# 3-3. My Own List

airplanes = ['airbusA380','boeing747','glider','jet']

print(f"I flew from India to London in an {airplanes[0]}.")
print(f"A {airplanes[1].title()} is one of the two most popular types of passenger aircrafts.")
print(f"{airplanes[2].title()} aircrafts are used in the leisure activity and sport of gliding.")
print(f"I wish I could fly a {airplanes[3]}.")

Angel
Molly
Aiyana
Skyler
Happy Halloween, Angel!
Happy Halloween, Molly!
Happy Halloween, Aiyana!
Happy Halloween, Skyler!
I flew from India to London in an airbusA380.
A Boeing747 is one of the two most popular types of passenger aircrafts.
Glider aircrafts are used in the leisure activity and sport of gliding.
I wish I could fly a jet.

In [ ]:
# Modifying Elements in a List
# changing the 1st element

motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
# Appending Elements to the End of a List

motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
# starting with an empty list and then adding items to the list using a series of append() calls

motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
# insert () method- add a new element at any position in the list

motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [ ]:
# Removing Elements from a List

# When you know the index- del statement and pop() method
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)


# can no longer access the value that was removed from the list after the del statement is used
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles[1]
print(motorcycles)


# pop() method removes the last item and lets you work with it after removing it
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

# using pop() to remove an item from any position in the list
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

# When you don't know the index and only the value- remove()
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

# you can work with an item in a list after you use remove() to remove it from the list
# remove a value and print a reason for removing it
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

# remove() only deletes the 1st occurence of the value from the list

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']
['honda', 'suzuki']
['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki
The first motorcycle I owned was a Honda.
['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
# TRY IT YOURSELF

#3-4. Guess List:

guess_list = ['Jane Austen','Michelle Obama','Jordan Peele']
print(f"Hello, {guess_list[0]}! You are invited to Thanksgiving dinner at my house.")
print(f"Hello, {guess_list[1]}! You are invited to Thanksgiving dinner at my house.")
print(f"Hello, {guess_list[2]}! You are invited to Thanksgiving dinner at my house.")

#3-5. Changing Guest List:

print("\nGuest not coming: Michelle Obama")

guess_list = ['Jane Austen','Michelle Obama','Jordan Peele']
guess_list[1] = 'Phoebe Waller-Bridge'
print(guess_list)

print(f"\nHello, {guess_list[0]}! You are invited to Thanksgiving dinner at my house.")
print(f"Hello, {guess_list[1]}! You are invited to Thanksgiving dinner at my house.")
print(f"Hello, {guess_list[2]}! You are invited to Thanksgiving dinner at my house.")

#3-6. More Guests

guess_list = ['Jane Austen','Phoebe Waller-Bridge','Jordan Peele']
print(guess_list)

print("\nGood news! I was able to secure a bigger table for the dinner.")

guess_list = ['Jane Austen','Phoebe Waller-Bridge','Jordan Peele']
guess_list.insert(0,'Oscar Wilde')
guess_list.insert(2,'Bimal Chakraborty')
guess_list.append('Soma Chakraborty')
print(guess_list)

print(f"\nHello, {guess_list[0]}! You are invited to Thanksgiving dinner at my house.")
print(f"Hello, {guess_list[1]}! You are invited to Thanksgiving dinner at my house.")
print(f"Hello, {guess_list[2]}! You are invited to Thanksgiving dinner at my house.")
print(f"Hello, {guess_list[3]}! You are invited to Thanksgiving dinner at my house.")
print(f"Hello, {guess_list[4]}! You are invited to Thanksgiving dinner at my house.")
print(f"Hello, {guess_list[5]}! You are invited to Thanksgiving dinner at my house.")

#3-7. Shrinking Guess List:

print("\nI am sorry to inform you all that I can now only invite two people to dinner! The new bigger dining table will unfortunately not be arriving in time.")

guess_list = ['Oscar Wilde', 'Jane Austen', 'Bimal Chakraborty', 'Phoebe Waller-Bridge', 'Jordan Peele', 'Soma Chakraborty']

not_invited_1 = guess_list.pop(0)
print(guess_list)
print(f"\nI am sorry, {not_invited_1}, I cannot invite you to dinner.")

not_invited_2 = guess_list.pop(0)
print(guess_list)
print(f"\nI am sorry, {not_invited_2}, I cannot invite you to dinner.")

not_invited_3 = guess_list.pop(2)
print(guess_list)
print(f"\nI am sorry, {not_invited_3}, I cannot invite you to dinner.")

not_invited_4 = guess_list.pop(1)
print(guess_list)
print(f"\nI am sorry, {not_invited_4}, I cannot invite you to dinner.")


print(guess_list)
print(f"\nHello, {guess_list[0]}! You are invited to Thanksgiving dinner at my house.")
print(f"Hello, {guess_list[1]}! You are invited to Thanksgiving dinner at my house.")

guess_list = ['Bimal Chakraborty', 'Soma Chakraborty']
del guess_list[0]
print(guess_list)


del guess_list[0]
print(guess_list)

Hello, Jane Austen! You are invited to Thanksgiving dinner at my house.
Hello, Michelle Obama! You are invited to Thanksgiving dinner at my house.
Hello, Jordan Peele! You are invited to Thanksgiving dinner at my house.

Guest not coming: Michelle Obama
['Jane Austen', 'Phoebe Waller-Bridge', 'Jordan Peele']

Hello, Jane Austen! You are invited to Thanksgiving dinner at my house.
Hello, Phoebe Waller-Bridge! You are invited to Thanksgiving dinner at my house.
Hello, Jordan Peele! You are invited to Thanksgiving dinner at my house.
['Jane Austen', 'Phoebe Waller-Bridge', 'Jordan Peele']

Good news! I was able to secure a bigger table for the dinner.
['Oscar Wilde', 'Jane Austen', 'Bimal Chakraborty', 'Phoebe Waller-Bridge', 'Jordan Peele', 'Soma Chakraborty']

Hello, Oscar Wilde! You are invited to Thanksgiving dinner at my house.
Hello, Jane Austen! You are invited to Thanksgiving dinner at my house.
Hello, Bimal Chakraborty! You are invited to Thanksgiving dinner at my house.
Hello, Phoebe Waller-Bridge! You are invited to Thanksgiving dinner at my house.
Hello, Jordan Peele! You are invited to Thanksgiving dinner at my house.
Hello, Soma Chakraborty! You are invited to Thanksgiving dinner at my house.

I am sorry to inform you all that I can now only invite two people to dinner! The new bigger dining table will unfortunately not be arriving in time.
['Jane Austen', 'Bimal Chakraborty', 'Phoebe Waller-Bridge', 'Jordan Peele', 'Soma Chakraborty']

I am sorry, Oscar Wilde, I cannot invite you to dinner.
['Bimal Chakraborty', 'Phoebe Waller-Bridge', 'Jordan Peele', 'Soma Chakraborty']

I am sorry, Jane Austen, I cannot invite you to dinner.
['Bimal Chakraborty', 'Phoebe Waller-Bridge', 'Soma Chakraborty']

I am sorry, Jordan Peele, I cannot invite you to dinner.
['Bimal Chakraborty', 'Soma Chakraborty']

I am sorry, Phoebe Waller-Bridge, I cannot invite you to dinner.
['Bimal Chakraborty', 'Soma Chakraborty']

Hello, Bimal Chakraborty! You are invited to Thanksgiving dinner at my house.
Hello, Soma Chakraborty! You are invited to Thanksgiving dinner at my house.
['Soma Chakraborty']
[]

Sorting a List Permanently with the sort()
Method

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.sort()
print(cars)
#cars will now be in alphabetical order

cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)
#list in reverse-alphabetical order
#passing argment reverse=True to the sort() method
#the order of the list is permanently changed

['bmw', 'audi', 'toyota', 'subaru']
['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']

In [ ]:
# Sorting a List Temporarily with the sorted() Function

cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

#The sorted() function can also accept a reverse=True argument

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [ ]:
# Printing a List in Reverse Order using the reverse() method

cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

# does not sort backward alphabetically, simply reverses the order

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [ ]:
# Finding the Length of a List using len() function

cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

In [ ]:
# TRY IT YOURSELF

#3-8. Seeing the World:

dream_places = ['Rome','Greece','Antarctica','France','Nigeria']
print(dream_places)

print(sorted(dream_places)) #alphabetical order

print(dream_places) #original order

print(sorted(dream_places, reverse=True)) #temporary reverse alphabetical order

print(dream_places) #original order

dream_places.reverse()
print(dream_places) #order of list reversed

dream_places.reverse()
print(dream_places) #original order

dream_places.sort()
print(dream_places) #list stored in alphabetical order

dream_places.sort(reverse=True) #list stored in reverse-alphabetical order
print(dream_places)

#3-9. Dinner Guests:
guess_list = ['Jane Austen','Michelle Obama','Jordan Peele']
len(guess_list)



#3-11. Intentional Index error:

print(guess_list[5])

['Rome', 'Greece', 'Antarctica', 'France', 'Nigeria']
['Antarctica', 'France', 'Greece', 'Nigeria', 'Rome']
['Rome', 'Greece', 'Antarctica', 'France', 'Nigeria']
['Rome', 'Nigeria', 'Greece', 'France', 'Antarctica']
['Rome', 'Greece', 'Antarctica', 'France', 'Nigeria']
['Nigeria', 'France', 'Antarctica', 'Greece', 'Rome']
['Rome', 'Greece', 'Antarctica', 'France', 'Nigeria']
['Antarctica', 'France', 'Greece', 'Nigeria', 'Rome']
['Rome', 'Nigeria', 'Greece', 'France', 'Antarctica']

IndexError: ignored

In [ ]:
#3-10. Every Function

my_list = ['apple','sky','nyc','skittles']
print(my_list)
my_list.append('yamaha') #adds element to the end of list
print(my_list)

my_list.insert(0,'autumn') #can use to add element at any position in the list
print(my_list)

my_list = ['autumn', 'apple', 'sky', 'nyc', 'skittles', 'yamaha']
del my_list[3] #remove an item from its position when knowing its index
print(my_list)

my_list.remove('yamaha')
print(my_list) #remove an item when not knowing its index but only its value

my_list.sort()
print(my_list) #sort list permanently in alphabetical order

my_list.reverse()
print(my_list) #reverses original order of the list

len(my_list)

['apple', 'sky', 'nyc', 'skittles']
['apple', 'sky', 'nyc', 'skittles', 'yamaha']
['autumn', 'apple', 'sky', 'nyc', 'skittles', 'yamaha']
['autumn', 'apple', 'sky', 'skittles', 'yamaha']
['autumn', 'apple', 'sky', 'skittles']
['apple', 'autumn', 'skittles', 'sky']
['sky', 'skittles', 'autumn', 'apple']

4

In [70]:
# LIST COMPREHENSION

#Questions- Print the cubes of all of the integers that are a multiple of 7 between 60 and 85
#compute y=7.4x+51 for the set of values 40, 50, 120, -8, and 6.

results = [print(x**3) for x in range(60,86) if x%7==0]

250047
343000
456533
592704