<a href="https://colab.research.google.com/github/RomitaChakraborty/CSC221_rchak001/blob/main/FinalAssignment(CSC221)26_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Final Assignment 26-28

CSC221 A

Romita Chakraborty

In [1]:
#Cell 1: Demonstrate int, float, and string

person_name = "Romita Chakraborty"
person_age = 20
person_height = 147.3 #cm

print(type(person_name))
print(type(person_age))
print(type(person_height))

<class 'str'>
<class 'int'>
<class 'float'>

In [2]:
#Cell 2: Show how an f-string works (f'Something like this with {something} in it.')

person_name = "Romita Chakraborty"
person_age = 20

my_intro = f"My name is {person_name} and I am {person_age} years old."

print(my_intro)

My name is Romita Chakraborty and I am 20 years old.

In [ ]:
#Cell 3: Demonstrate some methods of the string class

martinlk_quote = "  darkness cannot drive out darkness; only light can do that. hate cannot drive out hate; only love can do that.  "

#1. title()
print(martinlk_quote.title())

#2. upper()
print(martinlk_quote.upper())

#3. lower()
print(martinlk_quote.lower())

#4. count() - counts and returns the number of times a specified value occurs in a string
print(martinlk_quote.count("hate"))

#5. index() - returns the position of the first occurence of the specified value
print(martinlk_quote.index("cannot"))

#6. strip() - strips whitespace from both sides of string
print(martinlk_quote.strip().capitalize())

  Darkness Cannot Drive Out Darkness; Only Light Can Do That. Hate Cannot Drive Out Hate; Only Love Can Do That.
  DARKNESS CANNOT DRIVE OUT DARKNESS; ONLY LIGHT CAN DO THAT. HATE CANNOT DRIVE OUT HATE; ONLY LOVE CAN DO THAT.
  darkness cannot drive out darkness; only light can do that. hate cannot drive out hate; only love can do that.
2
11
Darkness cannot drive out darkness; only light can do that. hate cannot drive out hate; only love can do that.

In [ ]:
#Cell 4: Do something with a list

#creating a list of squares of numbers from 0 to 9 using list comprehension

squares = [x**2 for x in range(10)]
print(squares)

#finding the length of the list

len(squares)
print(len(squares))

#reversing the order of items in a list (permanently)

squares.reverse()
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
10
[81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [ ]:
#Cell 5: Do something with a list of lists

#creating a nested list of people's names and their college majors
names_and_subjects = [
    ["Alice", "Math"],
    ["Bob", "English"],
    ["Charlie", "History"],
    ["David", "Psychology"],
    ["Eva", "Computer Science"]
]

# Looping through the list and printing a statement with the lists' elements
for name, subject in names_and_subjects:
    print(f"\n{name} is majoring in {subject}.")

Alice is majoring in Math.

Bob is majoring in English.

Charlie is majoring in History.

David is majoring in Psychology.

Eva is majoring in Computer Science.

In [ ]:
#Cell 6: Show how to print a list in sorted order without changing it.

#Using the sorted() function instead of the sort() function to sort a list temporarily in alphabetical order.

flowers = ["Rose", "Tulip", "Daisy", "Lily", "Sunflower", "Orchid"]

print("Here is the original list:")
print(flowers)

print("\nHere is the sorted list:")
print(sorted(flowers))

print("\nHere is the original list again:")
print(flowers)

Here is the original list:
['Rose', 'Tulip', 'Daisy', 'Lily', 'Sunflower', 'Orchid']

Here is the sorted list:
['Daisy', 'Lily', 'Orchid', 'Rose', 'Sunflower', 'Tulip']

Here is the original list again:
['Rose', 'Tulip', 'Daisy', 'Lily', 'Sunflower', 'Orchid']

In [ ]:
#Cell 7: Printing a series of numbers using for and range

for number in range(11):
  print(number)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#Cell 8: Printing a series of squares of all numbers from 1 to 1000 that are not multiples of 7 using list comprehension.

squares_two = [x**2 for x in range(0,1001) if x % 7 != 0]
print(squares_two)

[1, 4, 9, 16, 25, 36, 64, 81, 100, 121, 144, 169, 225, 256, 289, 324, 361, 400, 484, 529, 576, 625, 676, 729, 841, 900, 961, 1024, 1089, 1156, 1296, 1369, 1444, 1521, 1600, 1681, 1849, 1936, 2025, 2116, 2209, 2304, 2500, 2601, 2704, 2809, 2916, 3025, 3249, 3364, 3481, 3600, 3721, 3844, 4096, 4225, 4356, 4489, 4624, 4761, 5041, 5184, 5329, 5476, 5625, 5776, 6084, 6241, 6400, 6561, 6724, 6889, 7225, 7396, 7569, 7744, 7921, 8100, 8464, 8649, 8836, 9025, 9216, 9409, 9801, 10000, 10201, 10404, 10609, 10816, 11236, 11449, 11664, 11881, 12100, 12321, 12769, 12996, 13225, 13456, 13689, 13924, 14400, 14641, 14884, 15129, 15376, 15625, 16129, 16384, 16641, 16900, 17161, 17424, 17956, 18225, 18496, 18769, 19044, 19321, 19881, 20164, 20449, 20736, 21025, 21316, 21904, 22201, 22500, 22801, 23104, 23409, 24025, 24336, 24649, 24964, 25281, 25600, 26244, 26569, 26896, 27225, 27556, 27889, 28561, 28900, 29241, 29584, 29929, 30276, 30976, 31329, 31684, 32041, 32400, 32761, 33489, 33856, 34225, 34596, 34969, 35344, 36100, 36481, 36864, 37249, 37636, 38025, 38809, 39204, 39601, 40000, 40401, 40804, 41616, 42025, 42436, 42849, 43264, 43681, 44521, 44944, 45369, 45796, 46225, 46656, 47524, 47961, 48400, 48841, 49284, 49729, 50625, 51076, 51529, 51984, 52441, 52900, 53824, 54289, 54756, 55225, 55696, 56169, 57121, 57600, 58081, 58564, 59049, 59536, 60516, 61009, 61504, 62001, 62500, 63001, 64009, 64516, 65025, 65536, 66049, 66564, 67600, 68121, 68644, 69169, 69696, 70225, 71289, 71824, 72361, 72900, 73441, 73984, 75076, 75625, 76176, 76729, 77284, 77841, 78961, 79524, 80089, 80656, 81225, 81796, 82944, 83521, 84100, 84681, 85264, 85849, 87025, 87616, 88209, 88804, 89401, 90000, 91204, 91809, 92416, 93025, 93636, 94249, 95481, 96100, 96721, 97344, 97969, 98596, 99856, 100489, 101124, 101761, 102400, 103041, 104329, 104976, 105625, 106276, 106929, 107584, 108900, 109561, 110224, 110889, 111556, 112225, 113569, 114244, 114921, 115600, 116281, 116964, 118336, 119025, 119716, 120409, 121104, 121801, 123201, 123904, 124609, 125316, 126025, 126736, 128164, 128881, 129600, 130321, 131044, 131769, 133225, 133956, 134689, 135424, 136161, 136900, 138384, 139129, 139876, 140625, 141376, 142129, 143641, 144400, 145161, 145924, 146689, 147456, 148996, 149769, 150544, 151321, 152100, 152881, 154449, 155236, 156025, 156816, 157609, 158404, 160000, 160801, 161604, 162409, 163216, 164025, 165649, 166464, 167281, 168100, 168921, 169744, 171396, 172225, 173056, 173889, 174724, 175561, 177241, 178084, 178929, 179776, 180625, 181476, 183184, 184041, 184900, 185761, 186624, 187489, 189225, 190096, 190969, 191844, 192721, 193600, 195364, 196249, 197136, 198025, 198916, 199809, 201601, 202500, 203401, 204304, 205209, 206116, 207936, 208849, 209764, 210681, 211600, 212521, 214369, 215296, 216225, 217156, 218089, 219024, 220900, 221841, 222784, 223729, 224676, 225625, 227529, 228484, 229441, 230400, 231361, 232324, 234256, 235225, 236196, 237169, 238144, 239121, 241081, 242064, 243049, 244036, 245025, 246016, 248004, 249001, 250000, 251001, 252004, 253009, 255025, 256036, 257049, 258064, 259081, 260100, 262144, 263169, 264196, 265225, 266256, 267289, 269361, 270400, 271441, 272484, 273529, 274576, 276676, 277729, 278784, 279841, 280900, 281961, 284089, 285156, 286225, 287296, 288369, 289444, 291600, 292681, 293764, 294849, 295936, 297025, 299209, 300304, 301401, 302500, 303601, 304704, 306916, 308025, 309136, 310249, 311364, 312481, 314721, 315844, 316969, 318096, 319225, 320356, 322624, 323761, 324900, 326041, 327184, 328329, 330625, 331776, 332929, 334084, 335241, 336400, 338724, 339889, 341056, 342225, 343396, 344569, 346921, 348100, 349281, 350464, 351649, 352836, 355216, 356409, 357604, 358801, 360000, 361201, 363609, 364816, 366025, 367236, 368449, 369664, 372100, 373321, 374544, 375769, 376996, 378225, 380689, 381924, 383161, 384400, 385641, 386884, 389376, 390625, 391876, 393129, 394384, 395641, 398161, 399424, 400689, 401956, 403225, 404496, 407044, 408321, 409600, 410881, 412164, 413449, 416025, 417316, 418609, 419904, 421201, 422500, 425104, 426409, 427716, 429025, 430336, 431649, 434281, 435600, 436921, 438244, 439569, 440896, 443556, 444889, 446224, 447561, 448900, 450241, 452929, 454276, 455625, 456976, 458329, 459684, 462400, 463761, 465124, 466489, 467856, 469225, 471969, 473344, 474721, 476100, 477481, 478864, 481636, 483025, 484416, 485809, 487204, 488601, 491401, 492804, 494209, 495616, 497025, 498436, 501264, 502681, 504100, 505521, 506944, 508369, 511225, 512656, 514089, 515524, 516961, 518400, 521284, 522729, 524176, 525625, 527076, 528529, 531441, 532900, 534361, 535824, 537289, 538756, 541696, 543169, 544644, 546121, 547600, 549081, 552049, 553536, 555025, 556516, 558009, 559504, 562500, 564001, 565504, 567009, 568516, 570025, 573049, 574564, 576081, 577600, 579121, 580644, 583696, 585225, 586756, 588289, 589824, 591361, 594441, 595984, 597529, 599076, 600625, 602176, 605284, 606841, 608400, 609961, 611524, 613089, 616225, 617796, 619369, 620944, 622521, 624100, 627264, 628849, 630436, 632025, 633616, 635209, 638401, 640000, 641601, 643204, 644809, 646416, 649636, 651249, 652864, 654481, 656100, 657721, 660969, 662596, 664225, 665856, 667489, 669124, 672400, 674041, 675684, 677329, 678976, 680625, 683929, 685584, 687241, 688900, 690561, 692224, 695556, 697225, 698896, 700569, 702244, 703921, 707281, 708964, 710649, 712336, 714025, 715716, 719104, 720801, 722500, 724201, 725904, 727609, 731025, 732736, 734449, 736164, 737881, 739600, 743044, 744769, 746496, 748225, 749956, 751689, 755161, 756900, 758641, 760384, 762129, 763876, 767376, 769129, 770884, 772641, 774400, 776161, 779689, 781456, 783225, 784996, 786769, 788544, 792100, 793881, 795664, 797449, 799236, 801025, 804609, 806404, 808201, 810000, 811801, 813604, 817216, 819025, 820836, 822649, 824464, 826281, 829921, 831744, 833569, 835396, 837225, 839056, 842724, 844561, 846400, 848241, 850084, 851929, 855625, 857476, 859329, 861184, 863041, 864900, 868624, 870489, 872356, 874225, 876096, 877969, 881721, 883600, 885481, 887364, 889249, 891136, 894916, 896809, 898704, 900601, 902500, 904401, 908209, 910116, 912025, 913936, 915849, 917764, 921600, 923521, 925444, 927369, 929296, 931225, 935089, 937024, 938961, 940900, 942841, 944784, 948676, 950625, 952576, 954529, 956484, 958441, 962361, 964324, 966289, 968256, 970225, 972196, 976144, 978121, 980100, 982081, 984064, 986049, 990025, 992016, 994009, 996004, 998001, 1000000]

In [ ]:
#Cell 9: Generating all of the prime numbers from 2 to 1000 using the Sieve of Eratosthenes

def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0], is_prime[1] = False, False  # 0 and 1 are not prime numbers

    for num in range(2, limit + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num*num, limit + 1, num):
                is_prime[multiple] = False

    return primes

primes_up_to_1000 = sieve_of_eratosthenes(1000)
print(primes_up_to_1000)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [ ]:
#Cell 10: Create a generator from your function above that you can use to print the first N prime numbers.

def sieve_of_eratosthenes_generator(limit):
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for i in range(2, int(limit**0.5) + 1):
        if is_prime[i]:
            for j in range(i*i, limit + 1, i):
                is_prime[j] = False

    for num in range(2, limit + 1):
        if is_prime[num]:
            yield num

def generate_primes_up_to_N(N):
    limit = 2
    primes_count = 0

    while primes_count < N:
        primes = list(sieve_of_eratosthenes_generator(limit))
        primes_count = len(primes)
        limit *= 2

    yield from primes[:N]

N = 10
first_N_primes = list(generate_primes_up_to_N(N))
print(f"The first {N} prime numbers are:", first_N_primes)

The first 10 prime numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
#Cell 11: Generate 1000 random integers in a list (random.randint(...)) and print their min, max, sum, and average.

import random

random_num_list = [(random.randint(1,1000)) for i in range(1000)]

print(min(random_num_list))
print(max(random_num_list))
print(sum(random_num_list))
average = sum(random_num_list) / len(random_num_list)
print(average)

1
1000
499485
499.485

In [ ]:
#Cell 12: Write a simple function that uses if, elif, and else and show that it works.

def classify_flower_color(flower_color):
    if flower_color == "red":
        return "Rose"
    elif flower_color == "yellow":
        return "Sunflower"
    elif flower_color == "purple":
        return "Lavender"
    else:
        return "Unknown Flower"

# Testing the function
flower1 = "purple"
flower2 = "yellow"
flower3 = "blue"

result1 = classify_flower_color(flower1)
result2 = classify_flower_color(flower2)
result3 = classify_flower_color(flower3)

print(f"A {flower1} flower is a {result1}")
print(f"A {flower2} flower is a {result2}")
print(f"A {flower3} flower is a {result3}")

A purple flower is a Lavender
A yellow flower is a Sunflower
A blue flower is a Unknown Flower

In [ ]:
#Cell 13: Show me three things from PEP-8 that surprise you

#1. Avoiding extraneous whitespace in the following situations:

#a).immediately inside parentheses, brackets or braces
fruits = [ "apple", "mango", "cherry", "pineapple" ]  #not good
fruits = ["apple", "mango", "cherry", "pineapple"]  #good

#b).immediately before a comma, semicolon, or colon, like so:
fruits = ["apple"  , "mango"  , "cherry"  , "pineapple"]




#2. Spaces are preffered over tabs
fruits = ["apple", "mango", "cherry", "pineapple"]

for fruit in fruits:
  if fruit == 'apple':
    print(fruit.upper()) #used spaces




#3. Limit the use of global variables. Use uppercase letters to name them.

TEMP = "cold"  #variable defined outside of a function

def a_func():
  print("Antarctica is " + TEMP)

a_func()

APPLE
Antarctica is cold

Cell 14: Create a file using %%file testfile.txt in Colab. The file should contain lines like the following:

Amy, cat

Fred, dog

Hunter, dog

Peena, parakeet

Rover, dog

In [ ]:
#Cell 14: CODE

%%file testfile.txt
Emily, dog
Jacob, cat
Olivia, cat
Liam, rabbit
Luna, dog

Overwriting testfile.txt

In [ ]:
#Cell 15: Read that file in and convert it to a dictionary. Show how you can lookup pet type by using pet name with your dictionary.

pet_dict = {}
with open('testfile.txt', 'r') as file:
    for line in file:
        name, pet = line.strip().split(',')
        pet_dict[name] = pet
print(pet_dict)

{'Emily': ' dog', 'Jacob': ' cat', 'Olivia': ' cat', 'Liam': ' rabbit', 'Luna': ' dog'}

In [ ]:
#Cell 16: Generate a list of all the unique pet types in the dictionary. Use a set to make this happen

unique_pet_types = set(pet_dict.values())
print(unique_pet_types)

{' dog', ' cat', ' rabbit'}

In [ ]:
#Cell 17: Use a while loop to print the numbers from 80 down to 16 by 8. Do not use for or range.

# Initialize the starting number for the countdown
number = 80

print(f"Starting countdown from {number} down to 16 by 8:")

# Begin the countdown using a while loop
while number >= 16:

    print(number)

    # Decrease the number by 8 for the next iteration
    number -= 8


print("Countdown complete!")

Starting countdown from 80 down to 16 by 8:
80
72
64
56
48
40
32
24
16
Countdown complete!

In [ ]:
#Cell 18: Write a function that takes three numbers and returns their min, max, and sum as a tuple.

def min_max_sum(num1, num2, num3):
    # Calculate minimum, maximum, and sum
    minimum = min(num1, num2, num3)
    maximum = max(num1, num2, num3)
    total = num1 + num2 + num3

    # Return the result as a tuple
    result_tuple = (minimum, maximum, total)
    return result_tuple


num1 = 5
num2 = 20
num3 = 3

result = min_max_sum(num1, num2, num3)
print(f"Minimum: {result[0]}, Maximum: {result[1]}, Sum: {result[2]}")

Minimum: 3, Maximum: 20, Sum: 28

In [ ]:
#Cell 19: Write a function that takes any number of numbers and returns their min, max, and sum as a tuple.
@traceroo
def min_max_sum(*numbers):
    # Check if any numbers are provided
    if not numbers:
        return None  # Return None if no numbers are given

    # Calculate minimum, maximum, and sum
    minimum = min(numbers)
    maximum = max(numbers)
    total = sum(numbers)

    # Return the result as a tuple
    result_tuple = (minimum, maximum, total)
    return result_tuple


result = min_max_sum(5, 10, 3, 8, 2, 33)
print(f"Minimum: {result[0]}, Maximum: {result[1]}, Sum: {result[2]}")

Getting min, max, and sum as a tuple min_max_sum with arguments: (5, 10, 3, 8, 2, 33), {}
min_max_sum result: (2, 33, 61)
Minimum: 2, Maximum: 33, Sum: 61

In [ ]:
#Cell 20: Create a decorator called traceroo and use it to print messages showing how your function above executes.
#Added decorater above
def traceroo(func):
    def wrapper(*args, **kwargs):
        print(f"Getting min, max, and sum as a tuple {func.__name__} with arguments: {args}, {kwargs}")
        result = func(*args, **kwargs)
        print(f"{func.__name__} result: {result}")
        return result
    return wrapper

result = min_max_sum(5, 10, 3, 8, 2, 33)
print(f"Minimum: {result[0]}, Maximum: {result[1]}, Sum: {result[2]}")

Getting min, max, and sum as a tuple min_max_sum with arguments: (5, 10, 3, 8, 2, 33), {}
min_max_sum result: (2, 33, 61)
Minimum: 2, Maximum: 33, Sum: 61

In [ ]:
#Cell 21: Create a class that uses __init__, __repr__, __str__, and __add__. Demonstrate that all of the methods work.

class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        return f"Person('{self.name}', {self.age})"

    def __str__(self):
        return f"{self.name} is {self.age} years old."

    def __add__(self, other):
        if isinstance(other, Person):
            combined_name = f"{self.name} and {other.name}"
            combined_age = self.age + other.age
            return Person(combined_name, combined_age)
        else:
            raise ValueError("Can only add two Person objects.")

# Demonstrating the class methods
person1 = Person("Romita", 20)
person2 = Person("Devyani", 21)

# __str__ method
print(str(person1))

# __repr__ method
print(repr(person1))

# __add__ method
combined_person = person1 + person2
print(combined_person)

Romita is 20 years old.
Person('Romita', 20)
Romita and Devyani is 41 years old.

In [ ]:
#Cell 22: Is your birth date included in the digits of pi? Where? Feel free to use the code from Chapter 10.
#no
import math

def find_birthday_in_pi(birthday):
    pi_str = str(math.pi).replace(".", "")
    position = pi_str.find(birthday)
    return position

birthday = "09102003"
position = find_birthday_in_pi(birthday)

if position != -1:
    print(f"Your birthday {birthday[:4]}-{birthday[4:6]}-{birthday[6:]} is found at position {position} in the decimal expansion of pi.")
else:
    print(f"Your birthday {birthday[:4]}-{birthday[4:6]}-{birthday[6:]} is not found in the decimal expansion of pi.")

Your birthday 0910-20-03 is not found in the decimal expansion of pi.

In [ ]:
%%file final_functions.py
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0], is_prime[1] = False, False  # 0 and 1 are not prime numbers

    for num in range(2, limit + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num*num, limit + 1, num):
                is_prime[multiple] = False

    return primes

primes_up_to_1000 = sieve_of_eratosthenes(1000)
print(primes_up_to_1000)

def min_max_sum(*numbers):
    # Check if any numbers are provided
    if not numbers:
        return None  # Return None if no numbers are given

    # Calculate minimum, maximum, and sum
    minimum = min(numbers)
    maximum = max(numbers)
    total = sum(numbers)

    # Return the result as a tuple
    result_tuple = (minimum, maximum, total)
    return result_tuple


result = min_max_sum(5, 10, 3, 8, 2, 33)
print(f"Minimum: {result[0]}, Maximum: {result[1]}, Sum: {result[2]}")


def classify_flower_color(flower_color):
    if flower_color == "red":
        return "Rose"
    elif flower_color == "yellow":
        return "Sunflower"
    elif flower_color == "purple":
        return "Lavender"
    else:
        return "Unknown Flower"

# Testing the function
flower1 = "purple"
flower2 = "yellow"
flower3 = "blue"

result1 = classify_flower_color(flower1)
result2 = classify_flower_color(flower2)
result3 = classify_flower_color(flower3)

print(f"A {flower1} flower is a {result1}")
print(f"A {flower2} flower is a {result2}")
print(f"A {flower3} flower is a {result3}")

Writing final_functions.py

In [ ]:
!python final_functions.py

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
Minimum: 2, Maximum: 33, Sum: 61
A purple flower is a Lavender
A yellow flower is a Sunflower
A blue flower is a Unknown Flower

In [ ]:
%%file final_test.py
import pytest
from final_functions import sieve_of_eratosthenes, min_max_sum, classify_flower_color


def test_sieve_of_eratosthenes():
    assert sieve_of_eratosthenes(10) == [2, 3, 5, 7]
    assert sieve_of_eratosthenes(20) == [2, 3, 5, 7, 11, 13, 17, 19]

def test_min_max_sum():
    assert min_max_sum(1, 2, 3, 4, 5) == (1, 5, 15)
    assert min_max_sum(10, 20, 30) == (10, 30, 60)
    assert min_max_sum() is None

def test_classify_flower_color():
    assert classify_flower_color("red") == "Rose"
    assert classify_flower_color("yellow") == "Sunflower"
    assert classify_flower_color("purple") == "Lavender"
    assert classify_flower_color("blue") == "Unknown Flower"

Writing final_test.py

In [ ]:
!pytest final_test.py

======================================= test session starts ========================================
platform linux -- Python 3.10.12, pytest-7.4.3, pluggy-1.3.0
rootdir: /content
plugins: anyio-3.7.1
collected 3 items

final_test.py ...                                                                            [100%]

======================================== 3 passed in 0.02s =========================================

In [ ]:
%%file final_functions.py
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0], is_prime[1] = False, False  # 0 and 1 are not prime numbers

    for num in range(2, limit + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num*num, limit + 1, num):
                is_prime[multiple] = False

    return 2


def min_max_sum(*numbers):
    # Check if any numbers are provided
    if not numbers:
        return None  # Return None if no numbers are given

    # Calculate minimum, maximum, and sum
    minimum = min(numbers)
    maximum = max(numbers)
    total = sum(numbers)

    # Return the result as a tuple
    result_tuple = (minimum, maximum, total)
    return result_tuple


def classify_flower_color(flower_color):
    if flower_color == "red":
        return "Rose"
    elif flower_color == "yellow":
        return "Sunflower"
    elif flower_color == "purple":
        return "Lavender"
    else:
        return "Unknown Flower"

Overwriting final_functions.py

In [ ]:
!python final_functions.py

In [ ]:
%%file final_test.py
import pytest
from final_functions import sieve_of_eratosthenes, min_max_sum, classify_flower_color


def test_sieve_of_eratosthenes():
    assert sieve_of_eratosthenes(10) == [2, 3, 5, 7]
    assert sieve_of_eratosthenes(20) == [2, 3, 5, 7, 11, 13, 17, 19]

def test_min_max_sum():
    assert min_max_sum(1, 2, 3, 4, 5) == (1, 5, 15)
    assert min_max_sum(10, 20, 30) == (10, 30, 60)
    assert min_max_sum() is None

def test_classify_flower_color():
    assert classify_flower_color("red") == "Rose"
    assert classify_flower_color("yellow") == "Sunflower"
    assert classify_flower_color("purple") == "Lavender"
    assert classify_flower_color("blue") == "Unknown Flower"

Overwriting final_test.py

In [ ]:
!pytest final_test.py

======================================= test session starts ========================================
platform linux -- Python 3.10.12, pytest-7.4.3, pluggy-1.3.0
rootdir: /content
plugins: anyio-3.7.1
collected 3 items

final_test.py F..                                                                            [100%]

============================================= FAILURES =============================================
____________________________________ test_sieve_of_eratosthenes ____________________________________

    def test_sieve_of_eratosthenes():
>       assert sieve_of_eratosthenes(10) == [2, 3, 5, 7]
E       assert 2 == [2, 3, 5, 7]
E        +  where 2 = sieve_of_eratosthenes(10)

final_test.py:6: AssertionError
===================================== short test summary info ======================================
FAILED final_test.py::test_sieve_of_eratosthenes - assert 2 == [2, 3, 5, 7]
=================================== 1 failed, 2 passed in 0.10s ====================================